# ==========================================================================
# SYSTEM SETTINGS
# ==========================================================================

H2A_PAPER_ROOT =

# ==========================================================================
# API KEYS
# ==========================================================================

# Google Gemini API key
GOOGLE_GEMINI_API_KEY =

# Google Places API key
GOOGLE_PLACES_API_KEY =

# St Louis Fed FRED API key
FRED_API_KEY =

# USDA AMS MyMarketNews API key
USDA_MYMARKETNEWS_API_KEY =

# USDA NASS QuickStats API key
USDA_QUICKSTATS_API_KEY =

# GitHub Personal Access Token
GIT_PAT =

# ==========================================================================
# uv settings
# ==========================================================================
